

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-12 d-none d-lg-block"></div>
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="text-center">
                    <h1 style="text-align:left;" class="h4 text-gray-900 mb-4">Edit</h1>
                  </div>
                  <form class="user">
                    <div class="form-group">
                     <label for="exampleFormControlSelect1">Name</label>
                      <input type="name" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Name...">
                    </div>
                    <div class="form-group">
                     <label for="exampleFormControlSelect1">Capacity</label>
                      <input type="capacity" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Capacity...">
                    </div>
                    <div class="form-group">
                     <label for="exampleFormControlSelect1">Manager</label>
                      <input type="manager" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Manager...">
                    </div>
                    <div class="form-group">
                     <label for="exampleFormControlSelect1">Contact number</label>
                      <input type="number" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Contact number...">
                    </div>
                    <div class="form-group">
                     <label for="exampleFormControlSelect1">Gender</label>
                    <select class="custom-select custom-select-sm">
                      <option selected>Gender</option>
                      <option value="1">Male</option>
                      <option value="2">Female</option>
                      <option value="3">Other</option>
                    </select>
                    </div>
                    <div class="form-group">
                     <label for="exampleFormControlSelect1">Regions</label>
                      <input type="selct" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Regions...">
                    </div>
                    <div class="form-group">
                     <label for="exampleFormControlSelect1">Tags</label>
                      <input type="select" class="form-control form-control-user" id="exampleInputPassword" placeholder="Tags...">
                    </div>
                    <div style="text-align:right">
                    <a href="" class="btn btn-primary btn-user">
                      Cancel
                    </a>
                    <a href="" class="btn btn-google btn-user">
                      Save
                    </a>
                    </div>
                  </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>


<h4>Personal info:</h4>
<div>
  <%= form.label "First name" %>
  <%= form.text_field :first_name %>
</div>
<div>
  <%= form.label "Surname" %>
  <%= form.text_field :last_name %>
</div>
<div>
  <%= form.label "Prison number" %>
  <%= form.text_field :prison_number %>
</div>
<div>
  <%= form.label "Site" %>
   <%= form.collection_select :site_id, Site.order(:name),:id,:name, include_blank: true, selected: (@student&.site.present? ? @student.site.id : params[:site]) %>
</div>
<div>
  <%= form.label "Gender" %>
  <%= form.select :gender, ["Male","Female"] %>
</div>
<div>
  <%= form.label "Date of birth" %>
  <%= form.date_field :dob %>
</div>
<h4>Key dates:</h4>
<div>
  <%= form.label "Release date" %>
  <%= form.date_field :crd %>
</div>
<div>
  <%= form.label "Eligible for tag" %>
  <%= form.date_field :hdc %>
</div>
<div>
  <%= form.label "Eligible for ROTL" %>
  <%= form.date_field :rotl %>
</div>
<div>
  <%= form.label "Next recategorisation" %>
  <%= form.date_field :recat %>
</div>
<h4>Key info:</h4>
<% if !@student&.id.present? || @student.contactable? %>
  <div>
    <%= form.label "Contact number" %>
    <%= form.text_field :contact_number %>
  </div>
  <div>
    <%= form.label "Email" %>
    <%= form.email_field :email %>
  </div>
<% end %>
<div>
  <%= form.label "Skills" %>
  <%= form.select(:skill_list, Student.tag_counts_on(:skills).collect {|t| [ t.name, t.name ] }, { selected: @student.skill_list }, { id: "skill_tags", multiple: true } ) %>
</div>
<div>
  <%= form.label "Job preferences" %>
  <%= form.select(:job_preference_list, Student.tag_counts_on(:job_preferences).collect {|t| [ t.name, t.name ] }, { selected: @student.job_preference_list }, { id: "job_preference_tags", multiple: true } ) %>
</div>
<div>
  <%= form.label "Tags" %>
  <%= form.select(:tag_list, Student.tag_counts_on(:tags).collect {|t| [ t.name, t.name ] }, { selected: @student.tag_list }, { id: "tags", multiple: true } ) %>
</div>
<div>
  <%= form.submit "Save" %>
</div>

<script>
  $(document).on('ready page:load', function () {

    var skills_select, skills_chosen;
      skills_select = $('#skill_tags');
      skills_select.chosen({
        allow_single_deselect: true,
        width: '200px',
        placeholder_text_multiple: 'Add new',
        no_results_text: 'Press enter to add:'
      });

      skills_chosen = $('.chosen-container');
      skills_chosen.find('input').keyup( function(e) {
          if (e.which === 13 && skills_chosen.find('li.no-results').length > 0){
              var option = $("<option>").val(this.value).text(this.value);
              skills_select.prepend(option);
              skills_select.trigger("chosen:updated");
              skills_select.find(option).prop('selected', true);
          }
      });

    var job_preferences_select, job_preferences_chosen;
      job_preferences_select = $('#job_preference_tags');
      job_preferences_select.chosen({
        allow_single_deselect: true,
        width: '200px',
        placeholder_text_multiple: 'Add new',
        no_results_text: 'Press enter to add:'
      });

      job_preferences_chosen = $('.chosen-container');
      job_preferences_chosen.find('input').keyup( function(e) {
          if (e.which === 13 && job_preferences_chosen.find('li.no-results').length > 0){
              var option = $("<option>").val(this.value).text(this.value);
              job_preferences_select.prepend(option);
              job_preferences_select.trigger("chosen:updated");
              job_preferences_select.find(option).prop('selected', true);
          }
      });

      var tags_select, tags_chosen;
        tags_select = $('#tags');
        tags_select.chosen({
          allow_single_deselect: true,
          width: '200px',
          placeholder_text_multiple: 'Add new',
          no_results_text: 'Press enter to add:'
        });

        tags_chosen = $('.chosen-container');
        tags_chosen.find('input').keyup( function(e) {
            if (e.which === 13 && tags_chosen.find('li.no-results').length > 0){
                var option = $("<option>").val(this.value).text(this.value);
                tags_select.prepend(option);
                tags_select.trigger("chosen:updated");
                tags_select.find(option).prop('selected', true);
            }
        });

  });
</script>
