<h4>Personal info:</h4>
<div>
  <%= form.label "First name" %>
  <%= form.text_field :first_name %>
</div>
<div>
  <%= form.label "Surname" %>
  <%= form.text_field :last_name %>
</div>
<div>
  <%= form.label "Prison number" %>
  <%= form.text_field :prison_number %>
</div>
<div>
  <%= form.label "Site" %>
   <%= form.collection_select :site_id, Site.order(:name),:id,:name, include_blank: true, selected: (@student&.site.present? ? @student.site.id : params[:site]) %>
</div>
<div>
  <%= form.label "Gender" %>
  <%= form.select :gender, ["Male","Female"] %>
</div>
<div>
  <%= form.label "Date of birth" %>
  <%= form.date_field :dob %>
</div>
<h4>Key dates:</h4>
<div>
  <%= form.label "Release date" %>
  <%= form.date_field :crd %>
</div>
<div>
  <%= form.label "Eligible for tag" %>
  <%= form.date_field :hdc %>
</div>
<div>
  <%= form.label "Eligible for ROTL" %>
  <%= form.date_field :rotl %>
</div>
<div>
  <%= form.label "Next recategorisation" %>
  <%= form.date_field :recat %>
</div>
<h4>Key info:</h4>
<% if @student&.id.present? && (@student.out? || @student&.site&.hub?) %>
  <div>
    <%= form.label "Contact number" %>
    <%= form.text_field :contact_number %>
  </div>
  <div>
    <%= form.label "Email" %>
    <%= form.email_field :email %>
  </div>
<% end %>
<div>
  <%= form.label "Skills" %>
  <%= form.select(:skill_list, Student.tag_counts_on(:skills).collect {|t| [ t.name, t.name ] }, { selected: @student.skill_list }, { id: "skill_tags", multiple: true } ) %>
</div>
<div>
  <%= form.label "Job preferences" %>
  <%= form.select(:job_preference_list, Student.tag_counts_on(:job_preferences).collect {|t| [ t.name, t.name ] }, { selected: @student.job_preference_list }, { id: "job_preference_tags", multiple: true } ) %>
</div>
<div>
  <%= form.label "Tags" %>
  <%= form.select(:tag_list, Student.tag_counts_on(:tags).collect {|t| [ t.name, t.name ] }, { selected: @student.tag_list }, { id: "tags", multiple: true } ) %>
</div>
<div>
  <%= form.label "Notes" %><br>
  <%= form.text_area :notes %>
</div>
<div>
  <%= form.submit "Save" %>
</div>

<script>
  $(document).on('ready page:load', function () {

    var skills_select, skills_chosen;
      skills_select = $('#skill_tags');
      skills_select.chosen({
        allow_single_deselect: true,
        width: '200px',
        placeholder_text_multiple: 'Add new',
        no_results_text: 'Press enter to add:'
      });

      skills_chosen = $('.chosen-container');
      skills_chosen.find('input').keyup( function(e) {
          if (e.which === 13 && skills_chosen.find('li.no-results').length > 0){
              var option = $("<option>").val(this.value).text(this.value);
              skills_select.prepend(option);
              skills_select.trigger("chosen:updated");
              skills_select.find(option).prop('selected', true);
          }
      });

    var job_preferences_select, job_preferences_chosen;
      job_preferences_select = $('#job_preference_tags');
      job_preferences_select.chosen({
        allow_single_deselect: true,
        width: '200px',
        placeholder_text_multiple: 'Add new',
        no_results_text: 'Press enter to add:'
      });

      job_preferences_chosen = $('.chosen-container');
      job_preferences_chosen.find('input').keyup( function(e) {
          if (e.which === 13 && job_preferences_chosen.find('li.no-results').length > 0){
              var option = $("<option>").val(this.value).text(this.value);
              job_preferences_select.prepend(option);
              job_preferences_select.trigger("chosen:updated");
              job_preferences_select.find(option).prop('selected', true);
          }
      });

      var tags_select, tags_chosen;
        tags_select = $('#tags');
        tags_select.chosen({
          allow_single_deselect: true,
          width: '200px',
          placeholder_text_multiple: 'Add new',
          no_results_text: 'Press enter to add:'
        });

        tags_chosen = $('.chosen-container');
        tags_chosen.find('input').keyup( function(e) {
            if (e.which === 13 && tags_chosen.find('li.no-results').length > 0){
                var option = $("<option>").val(this.value).text(this.value);
                tags_select.prepend(option);
                tags_select.trigger("chosen:updated");
                tags_select.find(option).prop('selected', true);
            }
        });

  });
</script>
