  <div class="container">

    <!-- Outer Row -->
    <div class="row ">

      <div class="col-xl-9 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5" style="margin-top: 25px !important;">
                  <div class="text-center">
                    <h1 style="text-align:left; margin-top:0px; padding-left:50px;" class="h4 text-gray-900 mb-4 card-header" >Edit</h1>

                  </div>
          <div class="card-body p-0" style="margin-top: -45px;">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-12 d-none d-lg-block"></div>
              <div class="col-lg-12">
                <div class="p-5">
                  <form class="user">
                    <div class="form-group">
                        <%= form.label "First name" %>
                        <%= form.text_field :first_name, class: "form-control form-control-user", placeholder: "First Name..." %>
                    </div>
                    <div class="form-group">
                        <%= form.label "Surname" %>
                        <%= form.text_field :last_name, class: "form-control form-control-user", placeholder: "Surame..." %>
                    </div>
                    <div class="form-group">
                        <%= form.label "Prison number" %>
                        <%= form.text_field :prison_number, class: "form-control form-control-user", placeholder: "Prison number..." %> 
                    </div>
                    <div class="form-group">
                       <%= form.label "Gender" %><br>
                      <%= form.select :gender, ["Male","Female","Mixed"], class:"custom-select custom-select-sm" %>
                    </div>
                    <div class="form-group">
                      <%= form.label "Contact number" %>
                      <%= form.text_field :contact_number, placeholder:"Contact number...", class:"form-control form-control-user" %>
                    </div>
                    <h4>Key info:</h4>
                    <div class="form-group">
                      <%= form.label "Date of birth" %>
                      <%= form.date_field :dob, placeholder:"D.O.B....", class:"form-control form-control-user" %> 
                    </div>
                    <div class="form-group">
                      <%= form.label "Release date" %>
                      <%= form.date_field :crd, placeholder: "Release date....", class:"form-control form-control-user" %>
                    </div>
                    <div>
                      <%= form.label "Eligible for tag" %>
                      <%= form.date_field :hdc, placeholder: "H.D.C. date....", class:"form-control form-control-user" %>
                    </div>
                    <div>
                      <%= form.label "Eligible for ROTL" %>
                      <%= form.date_field :rotl, placeholder: "R.O.T.L. date....", class:"form-control form-control-user" %>
                    </div>
                    <div>
                      <%= form.label "Next recategorisation" %>
                      <%= form.date_field :recat, placeholder: "Catagory review date....", class:"form-control form-control-user" %>
                    </div>
                    <h4>Key info:</h4>
                    <% if !@student&.id.present? || @student.contactable? %>
                      <div>
                        <%= form.label "Contact number" %>
                        <%= form.text_field :contact_number, placeholder: "Contact number....", class:"form-control form-control-user" %>
                      </div>
                      <div>
                        <%= form.label "Email" %>
                        <%= form.email_field :email, placeholder: "Release Date....", class:"form-control form-control-user" %>
                      </div>
                    <% end %>
                    <div>
                      <%= form.label "Skills" %>
                      <%= form.select(:skill_list, Student.tag_counts_on(:skills).collect {|t| [ t.name, t.name ] }, { selected: @student.skill_list }, { id: "skill_tags",class:"form-control form-control-user", multiple: true } ) %>
                    </div>
                    <div>
                      <%= form.label "Job preferences" %>
                      <%= form.select(:job_preference_list, Student.tag_counts_on(:job_preferences).collect {|t| [ t.name, t.name ] }, { selected: @student.job_preference_list }, { id: "job_preference_tags", placeholder: "Release Date....", class:"form-control form-control-user", multiple: true } ) %>
                    </div>
                    <div>
                      <%= form.label "Tags" %>
                      <%= form.select(:tag_list, Student.tag_counts_on(:tags).collect {|t| [ t.name, t.name ] }, { selected: @student.tag_list }, { id: "tags", placeholder: "Release Date....", class:"form-control form-control-user", multiple: true } ) %>
                    </div>
                    <div style="text-align:right">
                    <a href="" class="btn btn-dark btn-user" style="margin-right:10px;">
                      Cancel
                    </a>
                      <%= form.submit "Save", class:"btn btn-google btn-user" %>
                    </div>
                  </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>


<h4>Personal info:</h4>


<div>

</div>
<h4>Key dates:</h4>


<div>
  <%= form.submit "Save" %>
</div>

<script>
  $(document).on('ready page:load', function () {

    var skills_select, skills_chosen;
      skills_select = $('#skill_tags');
      skills_select.chosen({
        allow_single_deselect: true,
        width: '200px',
        placeholder_text_multiple: 'Add new',
        no_results_text: 'Press enter to add:'
      });

      skills_chosen = $('.chosen-container');
      skills_chosen.find('input').keyup( function(e) {
          if (e.which === 13 && skills_chosen.find('li.no-results').length > 0){
              var option = $("<option>").val(this.value).text(this.value);
              skills_select.prepend(option);
              skills_select.trigger("chosen:updated");
              skills_select.find(option).prop('selected', true);
          }
      });

    var job_preferences_select, job_preferences_chosen;
      job_preferences_select = $('#job_preference_tags');
      job_preferences_select.chosen({
        allow_single_deselect: true,
        width: '200px',
        placeholder_text_multiple: 'Add new',
        no_results_text: 'Press enter to add:'
      });

      job_preferences_chosen = $('.chosen-container');
      job_preferences_chosen.find('input').keyup( function(e) {
          if (e.which === 13 && job_preferences_chosen.find('li.no-results').length > 0){
              var option = $("<option>").val(this.value).text(this.value);
              job_preferences_select.prepend(option);
              job_preferences_select.trigger("chosen:updated");
              job_preferences_select.find(option).prop('selected', true);
          }
      });

      var tags_select, tags_chosen;
        tags_select = $('#tags');
        tags_select.chosen({
          allow_single_deselect: true,
          width: '200px',
          placeholder_text_multiple: 'Add new',
          no_results_text: 'Press enter to add:'
        });

        tags_chosen = $('.chosen-container');
        tags_chosen.find('input').keyup( function(e) {
            if (e.which === 13 && tags_chosen.find('li.no-results').length > 0){
                var option = $("<option>").val(this.value).text(this.value);
                tags_select.prepend(option);
                tags_select.trigger("chosen:updated");
                tags_select.find(option).prop('selected', true);
            }
        });

  });
</script>
