<h1>All students</h1>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Location</th>
    <th>Prison number</th>
    <th>Release date</th>
    <th>Eligable for tag</th>
    <th>Eligable for ROTL</th>
    <th>Next recategorisation</th>
  </thead>
  <tbody>
    <% @students.each do |student| %>
        <tr>
          <th><%= link_to student.first_name + ' ' + student.last_name, student_path(student) %></th>
          <th><%= link_to student.site.name, site_path(student.site) if student.site.present? %></th>
          <td><%= student.prison_number %></td>
          <td><%= l student.crd %></td>
          <td><%= l student.hdc if student.hdc.present? %></td>
          <td><%= l student.rotl %></td>
          <td><%= l student.recat %></td>
        </tr>
    <% end %>
  </tbody>
</table>
