<div class="container text-left">

<button style="margin-right:10px; float:right" type="button" class="btn btn-primary">+ Add Person</button>
<button style="margin-right:16px; float:right"  type="button" class="btn btn-danger">Delete</button>
<button style="margin-right:10px; float:right" type="button" class="btn btn-primary">Edit</button>



<!-- Page Heading -->
<h1 style="text-align:left" class="h3 mb-4 text-gray-800">HMP Humber</h1>

<!-- table filter/search - top -->
<div class="col-xl-6 col-md-6 mb-4">
  <div class="card border-left-success shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">        
          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">REGION</div> 
          <div class="h5 mb-0 font-weight-bold text-gray-800">Yorkshire North</div>
        </div>
      <div class="col-auto"> 
          <i class="fas fa-globe-europe fa-2x text-gray-300" style="padding-right:10px;"></i>                    </div>
      </div> 
    </div>
  </div>
</div>

<!-- table filter/search - top -->
<div class="col-xl-6 col-md-6 mb-4">
  <div class="card border-left-success shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">          
          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">tags</div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">Category C Workshop</div>
        </div>
        <div class="col-auto">
          <i class="fas fa-tags fa-2x text-gray-300" style="padding-right:10px;"></i>                    </div>
      </div> 
    </div>
  </div>
</div>


<!-- Earnings (Monthly) Card Example -->
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-primary shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">capacity</div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">57</div>
        </div>
        <div class="col-auto">
          <i class="fas fa-warehouse fa-2x text-gray-300" style="padding-right:10px;"></i>
        </div>
      </div>
    </div>
  </div>
</div>           

<!-- Earnings (Monthly) Card Example -->
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-info shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Gender</div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">Male</div>
        </div>
        <div class="col-auto">
          <i class="fas fa-male fa-2x text-gray-300" style="padding-right:10px;"></i>                    </div>
      </div>
    </div>
  </div>
</div>


<!-- Earnings (Monthly) Card Example -->
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-primary shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Manager</div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">Neil Barnby</div>
        </div>
        <div class="col-auto">
          <i class="fas fa-briefcase fa-2x text-gray-300" style="padding-right:10px;"></i>
        </div>
      </div>
    </div>
  </div>
</div>           

<!-- Earnings (Monthly) Card Example -->
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-info shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Telephone</div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">0123456789</div>
        </div>
        <div class="col-auto">
          <i class="fas fa-phone-square fa-2x text-gray-300" style="padding-right:10px;"></i>                    </div>
      </div>
    </div>
  </div>
</div>

<div class="main">
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Students</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>Name</th>
                      <th>Location</th>
                      <th>Relased?</th>
                      <th>Prison number</th>
                      <th>Date of birth</th>
                      <th>Gender</th>
                      <th>Release</th>
                      <th>Tag</th>
                      <th>ROTL</th>
                      <th>Recategorisation</th>
                      <th>Skills</th>
                      <th>Job preferences</th>
                      <th>Tags</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Location</th>
                      <th>Relased?</th>
                      <th>Prison number</th>
                      <th>Date of birth</th>
                      <th>Gender</th>
                      <th>Release</th>
                      <th>Tag</th>
                      <th>ROTL</th>
                      <th>Recategorisation</th>
                      <th>Skills</th>
                      <th>Job preferences</th>
                      <th>Tags</th>
                    </tr>
                  </tfoot>
                  <tbody>
        <% @students.each do |student| %>
          <tr>
            <th><%= link_to student.name, student_path(student) %></th>
            <th><%= student.site.present? ? (link_to student.site.name, site_path(student.site)) : "Non listed" %></th>
            <th><%= fa_icon "check" if student.out? %></th>
            <td><%= student.prison_number %></td>
            <td><%= student.dob.present? ? (l student.dob) : "Unknown" %></td>
            <td><%= student.gender %></td>
            <td><%= student.crd.present? ? (l student.crd) : "Unknown" %></td>
            <td><%= student.hdc.present? ? (l student.hdc) : "N/A" %></td>
            <td><%= student.rotl.present? ? (l student.rotl) : "Unknown" %></td>
            <td><%= student.recat.present? ? (l student.recat) : "Unknown" %></td>
            <td><%= student.skill_list %></td>
            <td><%= student.job_preference_list %></td>
            <td><%= student.tag_list %></td>
          </tr>
      <% end %>
    </tbody>
            </table>
              </div>
            </div>
          </div>

        </div>

  <% if Student.count == 0 %>
    There are currently no students enrolled on the system.
  <% elsif @students.count == 0 %>
    No results found
  <% end %>

  <div>
    <%= link_to 'View all', students_path %>
    <% if can? :create, Student %>
      | <%= link_to 'Add student', new_student_path %>
      | <%= link_to 'Import students', import_students_path %>
    <% end %>
  </div>

<div class="sidebar">
  <h4>Filter students</h4>
  <%= form_tag(search_students_path, method: :get) do %>
    <div>
      <%= label_tag "First name" %>
      <%= text_field_tag :first_name, params[:first_name] %>
    </div>
    <div>
      <%= label_tag "Surname" %>
      <%= text_field_tag :last_name, params[:last_name] %>
    </div>
    <div>
      <%= label_tag "Prison number" %>
      <%= text_field_tag :prison_number, params[:prison_number] %>
    </div>
    <div>
      <%= label_tag "Site" %>
      <%= select_tag :site, options_for_select(Site.order(:name).map { |site| [ site.name, site.name ] } + ["Non listed"], params[:site]), include_blank: true %>
    </div>
    <div>
      <%= label_tag "Gender" %>
      <%= select_tag :gender, options_for_select(["","Male","Female"], params[:gender]) %>
    </div>
    <div>
      <%= label_tag "Date of birth between" %>
      <%= date_field_tag :dob_from, params[:dob_from] %>
      <%= date_field_tag :dob_to, params[:dob_to] %>
    </div>
    <div>
      <%= label_tag "Released?" %>
      <%= check_box_tag :released?, 1, (params&.dig(:released?) == "1") %>
    </div>
    <div id="keydates" class="extra_fields">
      <div>
        <%= label_tag "Release between" %>
        <%= date_field_tag :crd_from, params[:crd_from] %>
        <%= date_field_tag :crd_to, params[:crd_to] %>
      </div>
      <div>
        <%= label_tag "Tag between" %>
        <%= date_field_tag :hdc_from, params[:hdc_from] %>
        <%= date_field_tag :hdc_to, params[:hdc_to] %>
      </div>
      <div>
        <%= label_tag "ROTL between" %>
        <%= date_field_tag :rotl_from, params[:rotl_from] %>
        <%= date_field_tag :rotl_to, params[:rotl_to] %>
      </div>
      <div>
        <%= label_tag "Recategorisation between" %>
        <%= date_field_tag :recat_from, params[:recat_from] %>
        <%= date_field_tag :recat_to, params[:recat_to] %>
      </div>
    </div>
    <a id="show_keydates" href="#">Add key dates</a>
    <div id="tags" class="extra_fields">
      <div>
        <%= label_tag "Skills" %>
        <%= select_tag :skill_list, options_for_select(Student.tag_counts_on(:skills).collect {|t| [ t.name ] }, params[:skill_list]), { class: "tags", multiple: true } %>
      </div>
      <div>
        <%= label_tag "Job preferences" %>
        <%= select_tag :job_preference_list, options_for_select(Student.tag_counts_on(:job_preferences).collect {|t| [ t.name ] }, params[:job_preference_list]), { class: "tags", multiple: true } %>
      </div>
      <div>
        <%= label_tag "Tags" %>
        <%= select_tag :tag_list, options_for_select(Student.tag_counts_on(:tags).collect {|t| [ t.name ] }, params[:tag_list]), { class: "tags", multiple: true } %>
      </div>
    </div>
    <div><a id="show_tagfields" href="#">Add tags</a></div>
    <div id="ordering" class="extra_fields">
      <div>
        <h5>Sort:</h5>
        <%= label_tag "By" %>
        <%= select_tag :sort_by, options_for_select(["First name", "Last name", "Date of birth", "Release date", "Tag date", "ROTL date", "Recategorisation date"], (!params.dig(:sort_by)&.empty? ? params[:sort_by] : "First name")) %>
      </div>
      <div>
        <%= label_tag "Order" %>
        <%= select_tag :order, options_for_select(["Ascending", "Descending"], (!params.dig(:order)&.empty? ? params[:order] : "First name")) %>
      </div>
    </div>
    <br>
    <div>
      <%= submit_tag "Filter" %> <a id="show_ordering" href="#">Change order</a>
    </div>
  <% end %>

  <div id="import">
    <hr>
    <h5>Import students</h5>
    <%= form_tag import_students_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV" %>
    <% end %>

  </div>
</div>

<script>
  $(document).on('ready page:load', function () {
    $('.tags').chosen({
      allow_single_deselect: true,
      width: '200px'
    });

    $('.extra_fields').hide();
    $('#import').hide();

  });

  var showing_tags = false;
  $('#show_tagfields').click(function() {
    showing_tags = !showing_tags;
    if (showing_tags == true) {
      $('#tags').show();
      $('#show_tagfields').html("Hide tags")
    } else {
      $('#tags').hide();
      $('#show_tagfields').html("Add tags")
    }
  });

  var showing_keydates = false;
  $('#show_keydates').click(function() {
    showing_keydates = !showing_keydates;
    if (showing_keydates == true) {
      $('#keydates').show();
      $('#show_keydates').html("Hide key dates")
    } else {
      $('#keydates').hide();
      $('#show_keydates').html("Add key dates")
    }
  });

  var showing_ordering = false;
  $('#show_ordering').click(function() {
    showing_ordering = !showing_ordering;
    if (showing_ordering == true) {
      $('#ordering').show();
      $('#show_ordering').html("Hide order options")
    } else {
      $('#ordering').hide();
      $('#show_ordering').html("Change order")
    }
  });

  $('#show-import').click(function(){
    $('#import').show();
  });
</script>
  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
  <script> 
    $(document).ready( function () {
    $('#dataTable').DataTable();
  });
  </script>
