<div class="container text-left">


          <!-- Page Heading -->
          <%# <h1 class="h3 mb-4 text-gray-800">Project Octopus Home</h1> %>


<h1 style="text-align:left">Welcome <%= current_user.name %>, to <%= ENV["APP_NAME"] %></h1><br><br>
<%# <p>Showing 5 busiest regions</p> %>

<% if Site.count != 0 %>

<div class="row">

        <div class="col-xl-9">
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Prisons</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">57</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-briefcase fa-2x text-gray-300" style="padding-right:10px;"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Employment Hubs</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">3</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-briefcase fa-2x text-gray-300" style="padding-right:10px;"></i>                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Students</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">22</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-briefcase fa-2x text-gray-300" style="padding-right:10px;"></i>                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Students On ROTL</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300" style="padding-right:10px; padding-left:10px;"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Students On Release</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300" style="padding-right:10px; padding-left:10px;"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

        <div class="col-xl-3 col-md-6 mb-4">
              <!-- Basic Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-uppercase text-primary">Status</h6>
                </div>
                <div class="card-body">
                  Everything is running normally!
                  <br>
                  <br><br><br><br><br><br><br>
                </div>
              </div>
          </div>
</div>

<div>
  <br>
</div>

<h2 style="text-align:left; color:#337ab7;"><a>Activity feed</a></h2>

<div class="activity-feed">
  <div class="feed-item">
    <div class="date">Sep 25</div>
    <div class="text">Rod Anderson added a comment to <a href="single-need.php">Joshua Rolland</a></div>
  </div>
  <div class="feed-item">
    <div class="date">Sep 24</div>
    <div class="text">Rod Anderson added a comment to <a href="single-need.php">Ashley Fulcher</a></div>
  </div>
  <div class="feed-item">
    <div class="date">Sep 20</div>
    <div class="text">Rod Anderson added a comment to <a href="single-need.php">Ashley Fulcher</a></div>
  </div>
  <div class="feed-item">
    <div class="date">Sep 19</div>
    <div class="text">Rod Anderson added a comment to <a href="single-need.php">Joshua Rolland</a></div>
  </div>
  <div class="feed-item">
    <div class="date">Sep 15</div>
    <div class="text">Rod Anderson added a comment to <a href="single-need.php">Joshua Rolland</a></div>
  </div>
  <div class="feed-item">
    <div class="date">Sep 14</div>
    <div class="text">Rod Anderson added a comment to <a href="single-need.php">Ashley Fulcher</a></div>
  </div>
  <div class="feed-item">
    <div class="date">Sep 10</div>
    <div class="text">Rod Anderson added a comment to <a href="single-need.php">Ashley Fulcher</a></div>
  </div>
  <div class="feed-item">
    <div class="date">Sep 9</div>
    <div class="text">Rod Anderson added a comment to <a href="single-need.php">Joshua Rolland</a></div>
  </div>
</div>

<div class="container text-center">

<% if !@activities.nil? %>
  <div>
    <% @activities.each do |activity| %>
      <div class="activity">
        <small>(<%= l activity.created_at %>)</small>
        <%= activity.owner.name if activity.owner %>
        <%= render_activity activity %>
      </div>
    <% end %>
  </div>
<% end %>
</div>


<div>
  <br><br>
</div>

 </div>