<h1><%= @contact.name %></h1>

<%= ((link_to 'Edit', edit_contact_path(@contact)) + " | ") if can? :update, Contact %>
<%= ((link_to 'Remove', contact_path(@contact), method: :delete, data: { confirm: 'Are you sure?' }) + " | ") if can? :destroy, Contact %>
<%= link_to 'All contacts', contacts_path %>

<p>First name: <%= @contact.first_name %></p>
<p>Surname: <%= @contact.last_name %></p>
<p>Role: <%= @contact.role %></p>
<p>Organisation: <%= @contact.organisation %></p>
<p>Email: <%= @contact.email %></p>
<p>Mobile: <%= @contact.mobile_number %></p>
<p>Workphone: <%= @contact.work_number %></p>
<p>Tags: <%= @contact.tag_list %></p>
<p>About:<br>
<%= @contact.about %></p>

<br><br>
<div>
  <% if @contact.comments.count != 0 %>
    <h4>Comments</h4>
    <div class="list-group" style="width: 25%;">
      <% @contact.comments.each do |comment| %>
        <div class="list-group-item flex-column align-items-start" style="padding: 0; margin: 0;">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= comment.user.name %><small class="text-muted"> <%= l comment.created_at %></small>
              <% if can? :manage, comment %>
                <small><%= link_to 'Delete', comment_path(comment),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></small>
              <% end %></h5>
            <p class="mb-1"><%= comment.body %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <h5>Add a comment</h5>
  <%= render 'comments/contact_comment' %>
</div>
