

  <div class="container">

    <!-- Outer Row -->
    <div class="row ">

      <div class="col-xl-9 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5" style="margin-top: 0px !important;">
                  <div class="text-center">
                    <h1 style="text-align:left; margin-top:0px; padding-left:50px;" class="h4 text-gray-900 mb-4 card-header" >Edit</h1>
                  </div>
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-12 d-none d-lg-block"></div>
              <div class="col-lg-12">
                <div class="p-5">
                  <form class="user">
                    <div class="form-group">
                     <label for="exampleFormControlSelect1">Name</label>
                      <input type="name" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Name...">
                    </div>
                    <div class="form-group">
                     <label for="exampleFormControlSelect1">Capacity</label>
                      <input type="capacity" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Capacity...">
                    </div>
                    <div class="form-group">
                     <label for="exampleFormControlSelect1">Manager</label>
                      <input type="manager" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Manager...">
                    </div>
                    <div class="form-group">
                     <label for="exampleFormControlSelect1">Contact number</label>
                      <input type="number" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Contact number...">
                    </div>
                    <div class="form-group">
                     <label for="exampleFormControlSelect1">Gender</label>
                    <select class="custom-select custom-select-sm">
                      <option selected>Gender</option>
                      <option value="1">Male</option>
                      <option value="2">Female</option>
                      <option value="3">Other</option>
                    </select>
                    </div>
                    <div class="form-group">
                     <label for="exampleFormControlSelect1">Regions</label>
                      <input type="selct" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Regions...">
                    </div>
                    <div class="form-group">
                     <label for="exampleFormControlSelect1">Tags</label>
                      <input type="select" class="form-control form-control-user" id="exampleInputPassword" placeholder="Tags...">
                    </div>
                    <div style="text-align:right">
                    <a href="" class="btn btn-primary btn-user">
                      Cancel
                    </a>
                    <a href="" class="btn btn-google btn-user">
                      Save
                    </a>
                    </div>
                  </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>


<div>
  <%= form.label "Name" %>
  <%= form.text_field :name %>
</div>
<div>
  <%= form.label "Capacity" %>
  <%= form.number_field :capacity %>
</div>
<div>
  <%= form.label "Manager" %>
  <%= form.text_field :manager %>
</div>
<div>
  <%= form.label "Contact number" %>
  <%= form.text_field :contact_number %>
</div>
<div>
  <%= form.label "Gender" %>
  <%= form.select :gender, ["Male","Female","Mixed"] %>
</div>
<div>
  <%= form.label "Regions" %>
  <%= form.select(:region_list, Site.tag_counts_on(:regions).collect {|t| [ t.name, t.name ] }, { selected: @site.region_list }, { id: "region_tags", multiple: true } ) %>
</div>
<div>
  <%= form.label "Tags" %>
  <%= form.select(:tag_list, Site.tag_counts_on(:tags).collect {|t| [ t.name, t.name ] }, { selected: @site.tag_list }, { id: "tags", multiple: true } ) %>
</div>
<div>
  <%= form.submit "Save" %>
</div>

<script>
  $(document).on('ready page:load', function () {

    var regions_select, regions_chosen;
      regions_select = $('#region_tags');
      regions_select.chosen({
        allow_single_deselect: true,
        width: '200px',
        placeholder_text_multiple: 'Add new',
        no_results_text: 'Press enter to add:'
      });

      regions_chosen = $('.chosen-container');
      regions_chosen.find('input').keyup( function(e) {
          if (e.which === 13 && regions_chosen.find('li.no-results').length > 0){
              var option = $("<option>").val(this.value).text(this.value);
              regions_select.prepend(option);
              regions_select.trigger("chosen:updated");
              regions_select.find(option).prop('selected', true);
          }
      });

      var tags_select, tags_chosen;
        tags_select = $('#tags');
        tags_select.chosen({
          allow_single_deselect: true,
          width: '200px',
          placeholder_text_multiple: 'Add new',
          no_results_text: 'Press enter to add:'
        });

        tags_chosen = $('.chosen-container');
        tags_chosen.find('input').keyup( function(e) {
            if (e.which === 13 && tags_chosen.find('li.no-results').length > 0){
                var option = $("<option>").val(this.value).text(this.value);
                tags_select.prepend(option);
                tags_select.trigger("chosen:updated");
                tags_select.find(option).prop('selected', true);
            }
        });
  });
</script>
