<div style="text-align: center">
<div class="form-group"> 
<div style="width: 500px; margin-left: 60px; text-align: center;">
  <%= form.label "Name" %>
  <%= form.text_field :name, class:"form-control"%>
</div>
<div style="width: 500px; margin-left: 60px; text-align: center;">
  <%= form.label "Capacity" %>
  <%= form.number_field :capacity, class:"form-control" %>
</div>
<div style="width: 500px; margin-left: 60px; text-align: center; ">
  <%= form.label "Manager" %>
  <%= form.text_field :manager, class:"form-control" %>
</div>
<div style="width: 500px; margin-left: 60px; text-align: center; ">
  <%= form.label "Contact number" %>
  <%= form.text_field :contact_number, class:"form-control" %>
</div>
<div style="width: 500px; margin-left: 60px; text-align: center; margin-top:10px">
  <%= form.label "Gender" %>
  <%= form.select :gender, ["Male","Female","Mixed"], class:"form-control" %>
</div>
<div style="width: 500px; margin-left: 60px; text-align: center; ">
  <%= form.label "Regions" %>
<div style="form-control">
  <%= form.select(:region_list, Site.tag_counts_on(:regions).collect {|t| [ t.name, t.name ] }, { selected: @site.region_list }, { id: "region_tags", multiple: true } ) %>
</div>
</div>
<div style="width: 500px; margin-left: 60px; text-align: center; ">
  <%= form.label "Tags" %>
<div style="form-control">
  <%= form.select(:tag_list, Site.tag_counts_on(:tags).collect {|t| [ t.name, t.name ] }, { selected: @site.tag_list }, { id: "tags", multiple: true } ) %>
</div>
</div>
<div style="width: 500px; margin-left: 60px; text-align: center; ">
  <%= form.label "Notes" %>
  <%= form.text_area :notes, class:"form-control" %>
</div>
<div style="width: 500px; margin-left: 60px; text-align: center; padding-bottom: 100px; padding-top: 10px;">
  <%= form.submit "Save", class:"btn btn-info" %>
</div>
</div>
</div>
<script>
  $(document).on('ready page:load', function () {

    var regions_select, regions_chosen;
      regions_select = $('#region_tags');
      regions_select.chosen({
        allow_single_deselect: true,
        width: '200px',
        placeholder_text_multiple: 'Add new',
        no_results_text: 'Press enter to add:'
      });

      regions_chosen = $('.chosen-container');
      regions_chosen.find('input').keyup( function(e) {
          if (e.which === 13 && regions_chosen.find('li.no-results').length > 0){
              var option = $("<option>").val(this.value).text(this.value);
              regions_select.prepend(option);
              regions_select.trigger("chosen:updated");
              regions_select.find(option).prop('selected', true);
          }
      });

      var tags_select, tags_chosen;
        tags_select = $('#tags');
        tags_select.chosen({
          allow_single_deselect: true,
          width: '200px',
          placeholder_text_multiple: 'Add new',
          no_results_text: 'Press enter to add:'
        });

        tags_chosen = $('.chosen-container');
        tags_chosen.find('input').keyup( function(e) {
            if (e.which === 13 && tags_chosen.find('li.no-results').length > 0){
                var option = $("<option>").val(this.value).text(this.value);
                tags_select.prepend(option);
                tags_select.trigger("chosen:updated");
                tags_select.find(option).prop('selected', true);
            }
        });
  });
</script>
