<h1>All sites</h1>
<%= link_to 'Add site', new_site_path if can? :create, Site %>
<% @sites.each do |site| %>
  <table>
    <tr><th><%= link_to site.name, site_path(site) %></th></tr>
    <tr><td>Attendence: <%= site.students.count %> / <%= site.capacity %></td></tr>
    <tr><td>Regions: <%= site.region_list %></td></tr>
    <tr><td>Population gender: <%= site.gender %></td></tr>
    <tr><td>Manager: <%= site.manager %></td></tr>
    <tr><td>Contact number: <%= site.contact_number %></td></tr>
  </table>
<% end %>
