<h1><%= @site.name %></h1>

<h4>Attendence: <%= @site.students.count %> / <%= @site.capacity %></h4>
<h4>Manager: <%= @site.manager %></h4>
<h4>Contact number: <%= @site.contact_number %></h4>
<h4>Population: <%= @site.gender %></h4>
<h4>Regions:</h4><p><%= @site.region_list %></p>
<h4>Tags:</h4><p><%= @site.tag_list %></p>
<h4>Notes:</h4><p><%= @site.notes %></p>

<br>
<%= ((link_to 'Edit', edit_site_path(@site)) + " | ") if can? :update, Site %>
<%= ((link_to 'Remove', site_path(@site), method: :delete, data: { confirm: 'Are you sure?' }) + " | ") if can? :destroy, Site %>
<%= ((link_to 'Add student', new_student_path(site: @site)) + " | ") if can? :create, Student %>
<%= link_to 'All sites', sites_path %>

<h3>Students:</h3>
<% if @site.students.count <= 0 %>
  <p>There are currently no students enrolled at this site.</p>
<% else %>
  <table class="table">
    <thead>
      <th>Name</th>
      <%= '<th>Relased?</th>'.html_safe if @site.hub? %>
      <th>Prison number</th>
      <th>Date of birth</th>
      <th>Gender</th>
      <th>Release</th>
      <th>Tag</th>    
      <th>ROTL</th>
      <th>Recategorisation</th>
      <th>Skills</th>
      <th>Job preferences</th>
      <th>Tags</th>
    </thead>
    <tbody>
      <% @site.students.order(:first_name).each do |student| %>
          <tr>
            <th><%= link_to student.name, student_path(student) %></th>
            <% if @site.hub? %>
              <td><%= fa_icon "check" if student.out? %></td>
            <% end %>
            <td><%= student.prison_number %></td>
            <td><%= student.dob.present? ? (l student.dob) : "Unknown" %></td>
            <td><%= student.gender %></td>
            <td><%= student.crd.present? ? (l student.crd) : "Unknown" %></td>
            <td><%= student.hdc.present? ? (l student.hdc) : "N/A" %></td>
            <td><%= student.rotl.present? ? (l student.rotl) : "Unknown" %></td>
            <td><%= student.recat.present? ? (l student.recat) : "Unknown" %></td>
            <td><%= student.skill_list %></td>
            <td><%= student.job_preference_list %></td>
            <td><%= student.tag_list %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
