<div class="container text-left">

<button style="margin-right:10px; float:right" type="button" class="btn btn-primary">+ Add Person</button>
<button style="margin-right:16px; float:right"  type="button" class="btn btn-danger">Delete</button>
<button style="margin-right:10px; float:right" type="button" class="btn btn-primary">Edit</button>



<!-- Page Heading -->
<h1 style="text-align:left" class="h3 mb-4 text-gray-800">HMP Humber</h1>

<!-- table filter/search - top -->
<div class="col-xl-6 col-md-6 mb-4">
  <div class="card border-left-success shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">        
          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">REGION</div> 
          <div class="h5 mb-0 font-weight-bold text-gray-800">Yorkshire North</div>
        </div>
      <div class="col-auto"> 
          <i class="fas fa-globe-europe fa-2x text-gray-300" style="padding-right:10px;"></i>                    </div>
      </div> 
    </div>
  </div>
</div>

<!-- table filter/search - top -->
<div class="col-xl-6 col-md-6 mb-4">
  <div class="card border-left-success shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">          
          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">tags</div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">Category C Workshop</div>
        </div>
        <div class="col-auto">
          <i class="fas fa-tags fa-2x text-gray-300" style="padding-right:10px;"></i>                    </div>
      </div> 
    </div>
  </div>
</div>


<!-- Earnings (Monthly) Card Example -->
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-primary shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">capacity</div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">57</div>
        </div>
        <div class="col-auto">
          <i class="fas fa-warehouse fa-2x text-gray-300" style="padding-right:10px;"></i>
        </div>
      </div>
    </div>
  </div>
</div>           

<!-- Earnings (Monthly) Card Example -->
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-primary shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Gender</div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">Male</div>
        </div>
        <div class="col-auto">
          <i class="fas fa-male fa-2x text-gray-300" style="padding-right:10px;"></i>                    </div>
      </div>
    </div>
  </div>
</div>


<!-- Earnings (Monthly) Card Example -->
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-info shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Manager</div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">Neil Barnby</div>
        </div>
        <div class="col-auto">
          <i class="fas fa-briefcase fa-2x text-gray-300" style="padding-right:10px;"></i>
        </div>
      </div>
    </div>
  </div>
</div>           

<!-- Earnings (Monthly) Card Example -->
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-info shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Telephone</div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">0123456789</div>
        </div>
        <div class="col-auto">
          <i class="fas fa-phone-square fa-2x text-gray-300" style="padding-right:10px;"></i>                    </div>
      </div>
    </div>
  </div>
</div>

<div class="main">
  <div id="students_tab" class="tab">
    <h3>Students at <%= @site.name %></h3>
    <% if @site.students.count <= 0 %>
      <p>There are currently no students enrolled at this site.</p>
    <% else %>
      
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Sites</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <th>Name</th>
          <%= '<th>Relased?</th>'.html_safe if @site.hub? %>
          <th>Prison number</th>
          <th>Date of birth</th>
          <th>Gender</th>
          <th>Release</th>
          <th>Tag</th>
          <th>ROTL</th>
          <th>Recategorisation</th>
          <th>Skills</th>
          <th>Job preferences</th>
          <th>Tags</th>
        </thead>
      <tbody>
        <% @site.students.order(:first_name).each do |student| %>
            <tr>
              <th><%= link_to student.name, student_path(student) %></th>
              <% if @site.hub? %>
                <td><%= fa_icon "check" if student.out? %></td>
              <% end %>
              <td><%= student.prison_number %></td>
              <td><%= student.dob.present? ? (l student.dob) : "Unknown" %></td>
              <td><%= student.gender %></td>
              <td><%= student.crd.present? ? (l student.crd) : "Unknown" %></td>
              <td><%= student.hdc.present? ? (l student.hdc) : "N/A" %></td>
              <td><%= student.rotl.present? ? (l student.rotl) : "Unknown" %></td>
              <td><%= student.recat.present? ? (l student.recat) : "Unknown" %></td>
              <td><%= student.skill_list %></td>
              <td><%= student.job_preference_list %></td>
              <td><%= student.tag_list %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
</div>
</div>

<script>
  $(document).on('ready page:load', function () {
    $('.tab').hide();
    $('#students_tab').show();
  });

  $('.toggle_tab').click(function() {
    $('.tab').hide();
  });

  $('#see_students').click(function() {
    $('#students_tab').show();
  });

  $('#see_activity').click(function() {
    $('#activity_tab').show();
  });

  $('#see_comments').click(function() {
    $('#comments_tab').show();
  });
</script>
  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
  <script> 
    $(document).ready( function () {
    $('#dataTable').DataTable();
  });
  </script>