<h1><%= @site.name %></h1>
<h4>Attendence: <%= @site.students.count %> / <%= @site.capacity %></h4>
<h4>Region: <%= @site.region %></h4>
<h4>Manager: <%= @site.manager %></h4>
<h4>Notes:</h4><p><%= @site.notes %></p>
<%= link_to 'Edit site', edit_site_path(@site) %>
<h3>Students:</h3>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Prison number</th>
    <th>Release date</th>
    <th>Eligable for tag</th>
    <th>Eligable for ROTL</th>
    <th>Next recategorisation</th>
  </thead>
  <tbody>
    <% @site.students.each do |student| %>
        <tr>
          <th><%= link_to student.name, student_path(student) %></th>
          <td><%= student.prison_number %></td>
          <td><%= student.crd.present? ? (l student.crd) : "Unknown" %></td>
          <td><%= student.hdc.present? ? (l student.hdc) : "N/A" %></td>
          <td><%= student.rotl.present? ? (l student.rotl) : "Unknown" %></td>
          <td><%= student.recat.present? ? (l student.recat) : "Unknown" %></td>
        </tr>
    <% end %>
  </tbody>
</table>
