<!DOCTYPE html>
<html>
  <head>
    <title>Project Octopus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div>
      <%= link_to 'Home', root_path %> |
      <%= link_to 'Sites Overview', sites_path %> |
      <%= link_to 'Students Overview', students_path %> |
      <%= link_to 'Account Settings', edit_user_registration_path %>
    </div>

    <div>
      <%= yield %>
    </div>
  </body>
</html>
