<!DOCTYPE html>
<html>
  <head>
    <title>Project Octopus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <% if current_user.present? %>
      <div>
        <%= link_to 'Home', root_path %> |
        <%= link_to 'Sites', sites_path %> |
        <%= link_to 'Students', students_path %> |
        <%= link_to 'Contacts', contacts_path %> |
        <%= ((link_to 'CRM Users', user_accounts_path) + " | ") if current_user&.master? %>
        <%= link_to 'Account Settings', edit_user_registration_path %> |
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      </div>
    <% end %>

    <div>
      <%= yield %>
    </div>
  </body>
</html>
